/2023/POO JAVA/practica1/practica1/nbproject/private/
/2023/POO JAVA/practica1/TP_ProyectoAlumnos/nbproject/private/
/2023/POO JAVA/practica1/practica1/build/
/2023/POO JAVA/practica1/practica2/nbproject/private/
/2023/POO JAVA/practica1/practica2/build/
/2023/POO JAVA/practica1/practica3/nbproject/private/
/2023/POO JAVA/practica3/build/
/POO JAVA/practica4/nbproject/private/
/POO JAVA/practica4/build/
/POO JAVA/practica5/nbproject/private/
/POO JAVA/practica5/build/